body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

header {
  text-align: center;
  padding: 10px 0;
}

header > * {
  display: inline;
  font-size: 1rem;
}

.game-container {
  display: grid;
  justify-content: center;
  margin: 0 auto;
}

.stats {
  background: #333;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: white;
  display: flex;
  font-size: small;
  justify-content: space-between;
  padding: 2px 4px;
}

#game {
  border: 2px solid #333;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: grid;
  gap: 2px;
  grid-auto-flow: column;
  justify-content: center;
  padding: 2px;
}

#game > * {
  align-items: center;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  height: var(--cellSize);
  width: var(--cellSize);
  font-size: calc(var(--cellSize) * 0.6);
}

#game [data-touched] {
  --step: 8%;
  --lightness: calc(100% - 2 * var(--step));
  background-color: hsl(92, 50%, var(--lightness));
}
